# Ambiente virtual
.venv/
venv/
env/

# Arquivos de cache Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Arquivos de distribuição
dist/
build/
*.egg-info/

# Arquivos de log
*.log

# Arquivos específicos do macOS
.DS_Store
.AppleDouble
.LSOverride

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos temporários
*.tmp
*.bak 